body {
  color: #333;
  background-image: url("http://33.media.tumblr.com/239f9203605147a03961a08a7a161d34/tumblr_n1ywmf3f9g1qf4z4ho1_r2_400.gif");

}

h1 {
  font-family: 'Lobster' , cursive;
  font-size: 90px;
  padding-top: 90px;
  margin: auto;
  text-align: center;
  color: #3a3a3a;
  background-color: rgba(250,250,250,.8);
  border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
  width: 400px;
  height: 400px;
}

a {
  font-family: 'Dosis' , sans-serif;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  color: #3a3a3a;
  padding: 20px;
  margin: auto;
  position: relative;
}
